.tabs{
  margin-top: 80px;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  padding: 0;
}
li{
  margin: 0;
  border-top: 1px solid grey;
  display: flex;
  list-style: none;
  padding: 10px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  margin-bottom: 0;
  cursor: pointer;
}
.tab-container{
  display: flex;
}
.tab-pane{
  padding: 0 5px;
  border: 1px solid grey;
}

.tab-pane{
  display: none;
}
.tab-pane:first-child{
  display: block;
}